<div class="row">
    <div class="col-sm-12">
        {% include 'project/ng/templates/form/project_piloting/_relaunch.html.twig' %}
    </div>
    <div class="col-sm-12">
        {% include 'project/ng/templates/form/project_piloting/_exchange_history.html.twig' %}
    </div>
</div>
<div class="ng-project-loader" ng-if="onLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>