<form>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    {# PROJET #}
                    {% include 'project/ng/templates/form/_project.html.twig' %}
                </div>
                <div class="col-sm-12 mt-3">
                    {# CONTACT #}
                    {% include 'project/ng/templates/form/_contact.html.twig' %}
                </div>
                <div class="col-sm-12 mt-3">
                    {# ADRESSE CHANTIER #}
                    {% include 'project/ng/templates/form/_site_address.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 mt-3">
            <div class="row">
                <div class="col-sm-6">
                    {# ADRESSE FACTURATION #}
                    {% include 'project/ng/templates/form/_billing_address.html.twig' %}
                </div>
                <div class="col-sm-6">
                    {# TYPE DE MARCHE #}
                    {% include 'project/ng/templates/form/_market_type.html.twig' %}

                    {# NORME EN 1090 - Classe EXE #}
                    {% include 'project/ng/templates/form/_norme_1090.html.twig' %}

                    {# BONHOMME EST-IL #}
                    {% include 'project/ng/templates/form/_is_bonhomme.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    {# TYPE DE DOSSIER #}
                    {# {% include 'project/ng/templates/form/_folder_type.html.twig' %} #}
                </div>
                <div class="col-sm-12 mt-3">
                    {# PLANNING DU PROJET #}
                    {# {% include 'project/ng/templates/form/_project_planning.html.twig' %} #}
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            {% include 'project/ng/templates/form/_payment_method.html.twig' %}
        </div>
        <div class="col-sm-12 mt-3">
            {% include 'project/ng/templates/form/_devis_number_and_case_type.html.twig' %}
        </div>
    </div>
    <div class="text-center">
        <button
            class="btn btn-app-primary"
            type="submit"
            ng-click="fns.submit()"
        >
            Enregistrer
        </button>
        <a href="#" class="btn btn-app-secondary">Annuler</a>
    </div>
</form>
{# <pre>{{ '{{ project|json }}' }}</pre> #}