<div class="card card card-outline card-app-secondary h-100">
	<div class="card-header">
		<h3 class="card-title">Adresse facturation</h3>
		<!-- /.card-tools -->
	</div>
	<!-- /.card-header for interlocuteur -->
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="project_edit_billingAddres_name">Nom</label>
					<input type="text" ng-model="project.billingAddres.name" class="form-control" value="Madagascar">
                </div>
            </div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="project_edit_billingAddres_phone">Téléphone</label>
					<input type="text" ng-model="project.billingAddres.phone" class="form-control" value="XXXXX XXXX">
                </div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="project_edit_billingAddres_fax">Fax</label>
					<input type="text" ng-model="project.billingAddres.fax" class="form-control" value="5678">
                </div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="project_edit_billingAddres_line1">Adresse 1</label>
					<input type="text" ng-model="project.billingAddres.line1" class="form-control" value="Antananarivo">
                </div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="project_edit_billingAddres_line2">Adresse 2</label>
					<input type="text" ng-model="project.billingAddres.line2" class="form-control" value="Antsimondrano">
                </div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="project_edit_billingAddres_line3">Adresse 3</label>
					<input type="text" ng-model="project.billingAddres.line3" class="form-control" value="Itaosy">
                </div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="project_edit_billingAddres_postalCode">Code postale</label>
					<input type="text" ng-model="project.billingAddres.postalCode" class="form-control" value="102">
                </div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="project_edit_billingAddres_city">Ville</label>
					<input type="text" ng-model="project.billingAddres.city" class="form-control">
                </div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="" for="project_edit_siteAddress_country">Pays</label>
					<md-select
						ng-model="project.billingAddres.country"
						md-on-close="searchTerm.countries = ''"
						data-md-container-class="selectHeader"
						md-on-open="helpers.getCountries"
						ng-change="helpers.handleCountriesChanged()"
					>
						<md-select-header class="select-header-search">
							<input ng-model="searchTerm.countries"
								placeholder="Rechercher" 
								type="search"
								ng-keydown="$event.stopPropagation()"
								class="demo-header-searchbox md-text"
							>
						</md-select-header>
						<md-option
							ng-value="country.countryCode" 
							ng-repeat="country in data.countries|filter:searchTerm.countries">
							{{ '{{ country.name }}' }}
						</md-option>
					</md-select>
				</div>
			</div>
		</div>
	</div>
	<!-- /.card-body -->
</div>
