<div class="row">
	<div class="col-sm-6">
		<div class="card card-outline card-app-secondary">
            <div class="card-header">
                <h3 class="card-title text-center">
                    Type de marche
                </h3>
            </div>
			<div class="card-body">
				<fieldset class="form-group">
					<md-radio-group ng-model="project.marketType" class="d-flex flex-wrap">
                        <md-radio-button
                            ng-value="marketType.value" 
                            ng-repeat="marketType in marketTypes" 
                            class="md-primary w-50 d-flex align-items-center mb-1"
                        >
                            {{ '{{ marketType.label }}' }}
                        </md-radio-button>
                    </md-radio-group>
				</fieldset>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card card-outline card-app-secondary">
			<div class="card-body">
				<md-radio-group ng-model="project.marketType" class="d-flex flex-wrap">
                    <md-radio-button
                        ng-value="marketType.value" 
                        ng-repeat="marketType in secondMarketTypes" 
                        class="md-primary w-50 d-flex align-items-center mb-1"
                    >
                        {{ '{{ marketType.label }}' }}
                    </md-radio-button>
                </md-radio-group>
			</div>
		</div>
	</div>
</div>
