<div class="card card card-outline card-app-secondary h-100">
    <div class="card-body">
        <div class="row">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-form-label required">Feuille de route</label>
                        <md-radio-group 
                            ng-model="project.roadmap" 
                            aria-labelledby="roadmap"
                            class="d-flex"
                        >
                            <div class="mr-4">
                                <md-radio-button value="1" class="md-primary">{{ 'label.yes'|trans }}</md-radio-button>
                            </div>
                            <div>
                                <md-radio-button value="0">{{ 'label.no'|trans }}</md-radio-button>
                            </div>
                        </md-radio-group>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {% include 'project/ng/templates/form/_users_autocomplete.html.twig' with {
                                label: 'columns.prospect'|trans({}, 'project'),
                                dataAutoComplete: 'data.autoComplete.clients',
                                ngModel: 'project.prospect',
                                searchTerm: 'searchTerm.client',
                                mdOnOpen: 'helpers.getClient()',
                                ngChangeHandler: 'helpers.handleClientChanged()',
                            } %}
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="project_edit_siteCode" class="required">Code chantier</label>
                            <input type="text" ng-model="project.siteCode" required="required" class="form-control" value="TTP"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="project_edit_projectOwner" class="required">Maitre d'ouvrage</label>
                            <input type="text" ng-model="project.projectOwner" required="required" class="form-control" value="Lorem ipsum ouvrage"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="project_edit_projectManager" class="required">Maitre d'oeuvre</label>
                            <input
                                type="text" 
                                ng-model="project.projectManager"
                                required="required" 
                                class="form-control" 
                                value="Test"
                            >
                        </div>
                    </div>
                    {# CONTACT #}
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <label class="mb-0">{{  'columns.contact'|trans({}, 'project') }}</label>
                                <div class="contact-checkbox-container">
                                    <md-checkbox ng-model="data.newContact" aria-label="Checkbox 1">
                                        {{ 'label.add_new_contact'|trans({}, 'project') }}
                                    </md-checkbox>
                                </div>
                            </div>
                            {% include 'project/ng/templates/form/_users_autocomplete.html.twig' with {
                                ngModel: 'project.contact',
                                searchTerm: 'searchTerm.contact',
                                mdOnOpen: 'helpers.getUsers()',
                                disabled: 'data.newContact',
                                ngChangeHandler: 'helpers.handleUserChanged()',
                            } %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {% include 'project/ng/templates/form/_users_autocomplete.html.twig' with {
                                label: 'columns.businessCharge'|trans({}, 'project'),
                                ngModel: 'project.businessCharge',
                                searchTerm: 'searchTerm.businessCharge',
                                mdOnOpen: 'helpers.getBusinessCharge()',
                                ngChangeHandler: 'helpers.handleBusinessCharge()',
                            } %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {% include 'project/ng/templates/form/_users_autocomplete.html.twig' with {
                                label: 'columns.economist'|trans({}, 'project'),
                                ngModel: 'project.economist',
                                searchTerm: 'searchTerm.economists',
                                mdOnOpen: 'helpers.getEconomist()',
                                ngChangeHandler: 'helpers.handleEconomistChanged()',
                            } %}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="project_edit_descriptionOperation" class="required">Description operation</label>
                            <textarea 
                                ng-model="project.descriptionOperation" 
                                required="required" 
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
