<div class="card card-outline card-app-secondary">
	<div class="card-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="project_planningProject">Planning projet</label>
					<textarea ng-model="project.planningProject" name="project[planningProject]" class="form-control"></textarea>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="form-group">
					<label for="project_answerForThe">Réponse pour le</label>
					<textarea ng-model="project.answerForThe" name="project[answerForThe]" class="form-control"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
