<div class="card card card-outline card-app-secondary h-100">
    <div class="card-body">
        <div class="row">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset class="form-group">
                            <legend class="col-form-label required">Feuille de route</legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="radio" ng-model="project.roadMap" value="'1'">
                                    <label for="roadmap_0">oui</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="radio" ng-model="project.roadMap" name="roadMap" value="'0'">
                                    <label for="roadmap_1">non</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {% include 'project/ng/templates/form/_users_autocomplete.html.twig' with {
                                label: 'columns.prospect'|trans({}, 'project'),
                                ngModel: 'project.prospect',
                                searchTerm: 'searchTerm.client',
                                mdOnOpen: 'helpers.getClient()',
                                ngChangeHandler: 'helpers.handleClientChanged()',
                            } %}
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="project_edit_siteCode" class="required">Code chantier</label>
                            <input type="text" ng-model="project.siteCode" name="project_edit[siteCode]" required="required" class="form-control" value="TTP"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="project_edit_projectOwner" class="required">Maitre d'ouvrage</label>
                            <input type="text" ng-model="project.projectOwner" name="project_edit[projectOwner]" required="required" class="form-control" value="Lorem ipsum ouvrage"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="project_edit_projectManager" class="required">Maitre d'oeuvre</label>
                            <input type="text" ng-model="project.projectManager" name="project_edit[projectManager]" required="required" class="form-control" value="Test"></div>
                    </div>
                    {# CONTACT #}
                    <div class="col-sm-6">
                        <div class="form-group">
                            {% include 'project/ng/templates/form/_users_autocomplete.html.twig' with {
                                label: 'columns.contact'|trans({}, 'project'),
                                ngModel: 'project.contact',
                                searchTerm: 'searchTerm.contact',
                                mdOnOpen: 'helpers.getUsers()',
                                ngChangeHandler: 'helpers.handleUserChanged()',
                            } %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {% include 'project/ng/templates/form/_users_autocomplete.html.twig' with {
                                label: 'columns.businessCharge'|trans({}, 'project'),
                                ngModel: 'project.businessCharge',
                                searchTerm: 'searchTerm.businessCharge',
                                mdOnOpen: 'helpers.getBusinessCharge()',
                                ngChangeHandler: 'helpers.handleBusinessCharge()',
                            } %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {% include 'project/ng/templates/form/_users_autocomplete.html.twig' with {
                                label: 'columns.economist'|trans({}, 'project'),
                                ngModel: 'project.economist',
                                searchTerm: 'searchTerm.economists',
                                mdOnOpen: 'helpers.getEconomist()',
                                ngChangeHandler: 'helpers.handleEconomistChanged()',
                            } %}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="project_edit_descriptionOperation" class="required">Description operation</label>
                            <textarea 
                                ng-model="project.descriptionOperation" 
                                required="required" 
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
