{% trans_default_domain 'projects' %}

{% extends "pdf_base.html.twig" %}

{# Total count of the entiry column #}
{% set TOTAL_COL_COUNT = 128 %}
{# Total count of the 2 last column 60 #}
{% set COL_COUNT = 120 %}
{% set COL_PX_SIZE = 10 %}
{% set COL_PX_H_SIZE = 2 %}

{% set ngMode = false %}
{% if project is not defined %}{% set project = {} %}{% endif %}

{% set FIRST_COL_COUNT = 5 %}
{% set SECOND_COL_COUNT = 3 %}
{% set FIRD_COL_COUNT =  0.75 %}
{% set FOURTH_COL_COUNT =  (TOTAL_COL_COUNT - (FIRST_COL_COUNT + SECOND_COL_COUNT + FIRD_COL_COUNT)) / 2 %}
{% set FIFTH_COL_COUNT =  (TOTAL_COL_COUNT - (FIRST_COL_COUNT + SECOND_COL_COUNT + FIRD_COL_COUNT)) / 2 %}
{% set PDF_LOGO_COUNT = 34 %}

{% if previewMode|default(false) %}
    {% set COL_PX_SIZE = 5 %}
    {% set COL_PX_H_SIZE = 2 %}
{% else %}
    {% set FIRST_COL_COUNT = 5 %}
    {% set SECOND_COL_COUNT = 2 %}
    {% set FIRD_COL_COUNT =  2 %}
    {% set FOURTH_COL_COUNT =  (TOTAL_COL_COUNT - (FIRST_COL_COUNT + SECOND_COL_COUNT + FIRD_COL_COUNT)) / 2 %}
    {% set FIFTH_COL_COUNT =  (TOTAL_COL_COUNT - (FIRST_COL_COUNT + SECOND_COL_COUNT + FIRD_COL_COUNT)) / 2 %}
    {% set PDF_LOGO_COUNT = 34 %}   
{% endif %}

{% set FIRST_COL_WIDTH = (FIRST_COL_COUNT * 100) / TOTAL_COL_COUNT %}
{% set SECOND_COL_WIDTH = (SECOND_COL_COUNT * 100) / TOTAL_COL_COUNT %}
{% set FIRD_COL_WIDTH = (FIRD_COL_COUNT * 100) / TOTAL_COL_COUNT %}
{% set FOURTH_COL_WIDTH = (FOURTH_COL_COUNT * 100) / TOTAL_COL_COUNT %}
{% set FIFTH_COL_WIDTH = (FIFTH_COL_COUNT * 100) / TOTAL_COL_COUNT %}
{% set PDF_LOGO_WIDTH = (PDF_LOGO_COUNT * 100) / FIFTH_COL_COUNT %}

{% set prospect_rowspan = 10 %}
{% set empty_row_rowspan = 11 %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'project/pdf/style.html.twig' %}
{% endblock %}

{% block content %}
    <div>
        {# DOSSIER DE PROSPECTION #}
        {% include 'project/pdf/_prospection_folder.html.twig' %}
    </div>
    <div class="page-breaker"></div>
    <div style="padding-top: 20px;">
        {# REVUE DE CONTRAT / PAGE DE GARDE DISA #}
        {% include 'project/pdf/_contract_review.html.twig' %}
    </div>
{% endblock %}
