{% trans_default_domain 'projects' %}

{# height count 5 #}
{% set RESPONSE_H_COUNT = 10 %}
{% set RESPONSE_HEIGHT = space_value(3, RESPONSE_H_COUNT, COL_PX_H_SIZE) %}

{% set responseForThe = resolve([project], null) %}

<table class="table-borderless">
    <tbody>
        <tr>
            <td height="{{ RESPONSE_HEIGHT }}px;" class="align-start text-center">
                <div class="label">{{ 'pdf.label.response_for_the'|trans }}</div>
            </td>
        </tr>
        <tr>
            <td>
                {% if ngMode %}
                    <input type="text">
                {% else %}
                    {{ responseForThe }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>