<div class="table-responsive table-container scheduler-table-container">
    <table class="scheduler-table" ng-style="styles.table" ng-class="{'sticky-columns': stickyColumns}">
        <thead>
            <tr>
                <!-- Empty column -->
                <th 
                    rowspan="2"
                    ng-class="getResourceHeaderEmptyColumnClass(column, $index)"
                    ng-repeat="column in columns"
                    ng-style="getResourceHeaderEmptyColumnStyle(column, $index)"
                ></th>
                <!-- Year -->
                <th
                    ng-repeat="year in years" 
                    colspan="{{ year.weeksCount }}"
                    ng-style="getYearStyles(year, yearIndex)"
                    ng-init="yearIndex = $index"
                    ng-class="getHeaderYearClassName(year, yearIndex)"
                    ng-click="onHeaderYearClick(year, yearIndex)"
                >
                    <div>{{ year.name }}</div>
                </th>
            </tr>
            <tr>
                <!-- Month list bottom the year -->
                <th 
                    ng-repeat="month in months track by $index" 
                    colspan="{{ month.weeksCount }}"
                    ng-style="getMonthStyles(month, monthIndex)"
                    ng-init="monthIndex = $index"
                    ng-class="getHeaderMonthClassName(month, monthIndex)"
                    ng-click="onHeaderMonthClick(month, monthIndex)"
                >{{ month.name }}</th>
            </tr>
            <tr>
                <th
                    ng-repeat="column in columns"
                    ng-class="getHeaderCellClassName(column, $index)"
                    id="{{ getResourceHeaderId(column, $index) }}"
                    ng-style="styles.columnHeaders[$index]"
                    ng-click="onColumnHeaderClick(column, $index)"
                >
                    {{ column.label }}
                </th>
                <th 
                    ng-repeat="week in weeks track by $index" 
                    ng-style="getHeaderWeeksStyle()"
                    ng-init="weekIndex = $index"
                    ng-class="getHeaderWeekClassName(week, weekIndex)"
                    ng-click="onHeaderWeekClick(week, weekIndex)"
                >
                    {{ week.weekNumber }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="resource in resources"ng-init="resourceIndex = $index">
                <td
                    ng-repeat="column in columns"
                    ng-click="onRowClick(resource, column, $index)"
                    ng-class="getCellClassName(resource, column, resourceIndex, $index)"
                    ng-style="styles.columns[$index]"
                >
                    <div
                        ng-bind-html="getResourceColumn(resource, column, resourceIndex)" 
                        ng-style="getResourceColumnDivStyle(column, $index)"
                        class="column-resource-data"
                    ></div>
                </td>
                <td
                    ng-repeat="week in weeks track by $index"
                    ng-init="weekIndex = $index"
                    ng-class="getDateCellClassName(resource, week, weekIndex, resourceIndex)"
                    ng-style="getCellStyle(resource, week, weekIndex, resourceIndex)"
                    ng-click="onCellClick(resource, week, weekIndex, resourceIndex)"
                    id="{{ getCellId(resource, week) }}"
                ></td>
            </tr>
        </tbody>
    </table>
    <div class="scheduler-events">
        <div 
            ng-repeat="event in events track by $index" 
            ng-class="getEventClass(event, eventIndex)"
            ng-click="onEventClick(event, eventIndex, $event)"
            ng-style="getEventStyle(event, eventIndex)"
            ng-init="eventIndex = $index"
            ng-mouseenter="onEventMouseEnter(event, eventIndex, $event)"
            ng-mouseleave="onEventMouseLeave(event, eventIndex, $event)"
        >
            <div class="scheduler-event-inner">
                <div ng-bind-html="formatTitle(event)"></div>
            </div>
        </div>
    </div>
</div>