{% set contacts = row.contacts %}

<div class="input-group py-0 project-case-field economist-change"  data-id="{{ row.id }}">
    {% if contacts[0] is defined %}
        {{ contacts[0].lastName }}
    {% else %}

    {% endif %}
</div>