.selectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.selectHeader .select-header-search {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    background: #fff;
    display: flex;
    align-items: center;
    width: auto;
}

.selectHeader md-content._md {
    max-height: 240px;
}

md-select:focus {
    .md-select-value {
        border: none !important;
    }
}

md-select-menu._md.md-overflow {
    max-width: 250px;
}

.md-select-value {
    position: relative;
    top: -5px;
    border: none;
    &:focus {
        border: none;
    }
}

md-select {
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    padding: $input-padding-y $input-padding-x;
    height: $input-height;
    &[disabled="disabled"] {
        background: $input-disabled-bg;
        opacity: 1;
    }
    .md-select-value {
        border-bottom: none;
    }
}

.contact-checkbox-container {
    md-checkbox.md-auto-horizontal-margin {
        min-height: auto;
        .md-container {
            margin-top: 11px;
        }
        .md-label {
            margin-top: 0;
        }
    }
}