@mixin table {
    // primary color
    $app-primary: #2e3192;

    // secondary color
    $app-secondary: #f69c4a;

    $app-danger: #ff0000;

    table.week-load-metering {
        tbody tr td {
            position: relative;
            &.week-load-current {
                &.week-load-warning {
                    color: darken($app-secondary, 20);
                }
                &.week-load-danger {
                    color: darken($app-danger, 20);
                }
            }
            .color-chip {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                margin-top: -5px;
                &.week-load-warning {
                    background-color: $app-secondary;
                }
                &.week-load-danger {
                    background-color: $app-danger;
                }
            }
        }
    }
    .week-load-metering-loader {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #00000047;
        md-progress-circular {
            top: 50%;
            left: 50%;
            position: absolute;
            margin-left: -50px;
        }
    }
}

@include table;