<div class="input-group py-0">
    <input type="text" value="{{ value }}" class="border-0 text-right h-100 w-10 form-control px-0"/>
    <div class="input-group-append">
        <span class="input-group-text py-0 px-1 border-0 bg-white" id="basic-addon2">%</span>
    </div>
</div>