{% trans_default_domain 'projects' %}

{# total height count = 18 #}
{% set CONSTRUCTION_SITE_H_COUNT = 32 %}

{# set title col count 1.5 #}
{% set TITLE_COL_COUNT = space_value(3, CONSTRUCTION_SITE_H_COUNT, COL_PX_H_SIZE) %}
{# value height count #}
{% set CONSTRUCTION_SITE_VALUE_H_COUNT = space_value((CONSTRUCTION_SITE_H_COUNT - 3), CONSTRUCTION_SITE_H_COUNT, COL_PX_H_SIZE) %}

{% set siteAddress = resolve([project, 'siteAddress'], null) %}
{% set siteAddressComputed = resolve([siteAddress, 'line1'], null) ~ ' ' ~ resolve([siteAddress, 'line2']) ~ ' ' ~ resolve([siteAddress, 'line3']) %}

<table class="table-borderless">
    <tbody>
        <tr>
            <td height="{{ TITLE_COL_COUNT }}px;" class="align-start text-center"><div class="label">{{ 'pdf.label.construction_site_address'|trans }}</div></td>
        </tr>
        <tr>
            <td height="{{ CONSTRUCTION_SITE_VALUE_H_COUNT }}px;" class="align-start">
                {% if ngMode %}
                    <input type="text">
                {% else %}
                    <span class="td-value">{{ siteAddressComputed }}</span>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>