@use 'sass:math';

$weekSize: 8px;
$borderColor: #555;

@function monthFs($weekSize) {
    @return math.div(8, 5) * $weekSize;
}

@function yearFs($weekSize) {
    @return math.div(10, 5) * $weekSize;
}

@function scheduleColumnFs($weekSize) {
    @return math.div(8, 5) * $weekSize;
}

@mixin _schedule {
    .app-scheduler {
        .scheduler-table-container {
            box-shadow: 1px 0px 0px $borderColor;
        }
        table.scheduler-table {
            .scheduler-year, 
            .scheduler-month, 
            .scheduler-week, 
            .scheduler-column,
            .scheduler-date-cell,
            .scheduler-resource-header {
                background: #fff;
            }
        }
    }
    .scheduler-column {
        font-size: scheduleColumnFs($weekSize);
        font-weight: normal;
    }
    .scheduler-year {
        font-size: yearFs($weekSize);
        font-weight: bold;
    }
    .scheduler-month {
        font-size: monthFs($weekSize);
        font-weight: 600;
        text-transform: uppercase;
    }
    .scheduler-weeks {
        font-size: $weekSize;
    }
    .scheduler-event {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@include _schedule;