@mixin content_header {
    .content-header {
        h1 {
            color: $app-primary;
            .material-icons {
                font-size: 28px;
                margin-right: 12px;
                position: relative;
                top: 3px;
            }
            .dropdown {
                display: inline-block;
            }
            .header-btn {
                border: none;
                background: rgba(0, 0, 0, .12);
                padding: 0;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: inline-flex;
                align-items: center;
                margin-left: 8px;
                .material-icons {
                    margin: 0;
                    font-size: 20px;
                    top: 0;
                    position: static;
                    display: inline-block;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}

@include content_header;