
$table-width: 100%;
$table-td-border-color: #000;
$table-td-padding: 10px;

@mixin basic_table {
    table {
        width: $table-width;
        border-collapse: collapse;
        font-family: sans-serif;
        letter-spacing: 0.1px;
        tbody {
            tr {
                td, th {
                    padding: 0;
                }
                td {
                    border: 1px solid $table-td-border-color;
                    &.pdf-td-logo {
                        text-align: center;
                        vertical-align: middle;
                    }
                    &.td-label {
                        vertical-align: top;
                    }
                }
                &.table-tr-header {
                    td {
                        border: none;
                    }
                }
            }
        }
        &.table-borderless {
            tbody {
                tr {
                    td, th {
                        border: none;
                        padding: 0 $table-td-padding;
                    }
                }
            }
        }
        &.market-type-table {
            tbody {
                tr {
                    td {
                        padding: 0;
                        &:first-child {
                            padding-left: $table-td-padding;
                        }
                        &:last-child {
                            padding-right: $table-td-padding;
                        }
                    }
                }
            }
        }
    }
    .label {
        font-weight: bold;
        text-decoration: underline;
        text-transform: uppercase;
        text-align: center;
    }
    .folder-prospection {
        font-size: $main-title;
    }
    .prospect {
        background: rgb(255, 192, 0);
        .prospect-title {
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            font-size: $title;
            position: relative;
            left: 5px;
            top: 20px;
        }
    }
    .first-ask-date {
        font-size: $default-font-size;
        font-weight: 500;
    }
    .contact {
        vertical-align: top;
    }
    .surface {
        font-size: $label;
    }
}

@include basic_table;