@mixin basic_table {
    table {
        width: $table-width;
        border-collapse: collapse;
        font-family: sans-serif;
        letter-spacing: 0.1px;
        tbody {
            tr {
                td, th {
                    padding: 0;
                }
                td {
                    border: $border;
                    &.pdf-td-logo {
                        text-align: center;
                        vertical-align: middle;
                    }
                    &.td-label {
                        vertical-align: top;
                    }
                    span.td-value {
                        font-size: $default-font-size;
                        letter-spacing: 0.5px;
                    }
                }
                &.table-tr-header {
                    td {
                        border: none;
                    }
                }
            }
        }
        &.table-borderless {
            border-collapse: collapse;
            tbody {
                tr {
                    td, th {
                        border: none;
                        padding: 0 $table-td-padding;
                    }
                }
            }
        }
        &.market-type-table, &.market-type-2-table,
        &.encryption-type-table, &.is-bonhomme-table,
        &.for-the-frame-table, &.prioritization-folder ,
        &.folder-type-table {
            tbody {
                tr {
                    td {
                        padding: 0;
                        letter-spacing: 0.2px;
                        &.market-type-checkbox {
                            padding-right: 6px;
                        }
                        &:first-child {
                            padding-left: $table-td-padding;
                        }
                        &:last-child {
                            padding-right: $table-td-padding;
                        }
                        &.pl-05 {
                            padding-left: 0.5rem;
                        }
                    }
                }
            }
        }
        &.is-bonhomme-table {
            table {
                tbody {
                    tr {
                        td {
                            padding: 0 !important;
                        }
                    }
                }
            }
        }
        &.folder-type-table {
            tbody {
                tr td {
                    div {
                        text-overflow: hidden;
                    }
                }
            }
        }
        &.assistant-in-charge {
            tbody {
                tr td {
                    &.td-col {
                        padding-top: 4px;
                    }
                }
            }
        }
    }
}

@mixin individual_customization {
    .label {
        font-weight: bold;
        text-decoration: underline;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 2px;
    }
    .folder-prospection {
        font-size: $main-title;
    }
    .prospect {
        background: $prospectBackground;
        word-break: keep-all !important;
        .prospect-title {
            word-break: keep-all !important;
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            font-size: $title;
            position: relative;
            left: 5px;
            top: 20px;
        }
    }
    .rotating-title {
        word-break: keep-all !important;
        &.prospect {
            background: $prospectBackground;
        }
        &.commercial {
            background: $commercialBackground;
        }
        &.signatures {
            background: $signaturesBackground;
        }
        .title-container {
            word-break: keep-all !important;
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            font-size: $title;
            position: relative;
            &.prospect-title {
                left: 5px;
                top: 20px;
            }
            &.commercial-title {
                left: 12px;
                top: 20px;
                color: #fff;
                font-weight: bold;
            }
            &.signatures-title {
                font-size: _rem(8);
                top: 0;
                left: 0;
                font-weight: bold;
            }
        }
    }
    .first-ask-date {
        font-size: $fistAskDate;
        font-weight: 500;
    }
    .contact {
        vertical-align: top;
    }
    .checkbox-label {
        display: inline-block;
        position: relative;
        top: -2px;
        left: 5px;
    }
    .checkbox-value {
        padding-left: 4px;
    }
    .market-type-title {
        padding-bottom: $table-td-padding;
    }
    .particular-renovation-col {
        padding-left: $table-td-padding !important;
    }
    /**
     * design for checkbox
    */
    .pdf-checkbox {
        display: inline-block;
        width: 8px;
        height: 8px;
        border: $border;
        position: relative;
        .pdf-checkbox-inner-1, .pdf-checkbox-inner-2 {
            display: none;
        }
        &.checked {
            background: $checkbox-bg;
            .pdf-checkbox-inner-1 {
                display: block;
                width: 4px;
                height: 2px;
                background: $checkbox-color;
                position: absolute;
                top: 4px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                left: 0;
            }
            .pdf-checkbox-inner-2 {
                display: block;
                width: 7px;
                height: 2px;
                background: $checkbox-color;
                position: absolute;
                top: 3px;
                left: 2px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }
    }
    .hide-mock-value {
        opacity: 0;
    }
    .site-code-cell {
        font-size: _rem(14);
    }
    .road-map-cell {
        font-size: _rem(14);
    }
    .date-of-deposit {
        position: relative;
        top: 2px;
    }
}

@mixin _table {
    @include basic_table;
    @include individual_customization;
}

@include _table;