$table-width: 100%;
$table-td-border-color: #000;

@mixin basic_table {
    table {
        width: $table-width;
        border-collapse: collapse;
        tbody tr td {
            border: 1px solid $table-td-border-color;
            &.pdf-td-logo {
                text-align: center;
            }
        }
    }
}

@include basic_table;