@mixin load_plan_planning {
    .load-plan-event {
        font-size: 12px !important;
        font-weight: bold !important;
    }
    md-dialog {
        opacity: 1 !important;
    }
    md-dialog.columns-visibility-dialog {
        md-tab-content {
            height: 200px !important;
        }
    }
}

@include load_plan_planning;