@mixin load_plan_planning {
    md-dialog.columns-visibility-dialog {
        opacity: 1 !important;
        height: 300px !important;
        overflow: hidden;
        md-dialog-content {
            overflow: hidden;
        }
    }
    .load-plan-event {
        font-size: 12px !important;
        font-weight: bold !important;
    }
    button.md-icon-button.button-target.md-button.md-ink-ripple {
        min-width: 40px;
    }
    .md-button.md-icon-button {
        min-width: 40px;
    }
    .form-control.date-picker {
        width: 178px;
        padding: 0 8px;
    }
}

@include load_plan_planning;