{% trans_default_domain 'messages' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>With Twig</title>
</head>
<body>
    <p>{{ 'email.user.creation.messages'|trans }}</p>
    
    <p>E-mail: {{ resolve([user, 'email'], '-') }}</p>
    
    <p>Password: {{ userPlainPassword|default('-') }}</p>
</body>
</html>
