@use 'sass:math';

.schedule-month {
  text-transform: uppercase;
}

.dynamic-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@function monthFs($weekSize) {
  @return math.div(8, 5) * $weekSize;
}

@function yearFs($weekSize) {
  @return math.div(10, 5) * $weekSize;
}

@mixin scheduler-table {
  .app-scheduler {
    table.scheduler-table {
      .scheduler-resource-header,
      .scheduler-column {
        padding: 0 4px;
      }
      thead, tbody {
        tr {
          th, td {
            border: 1px solid $borderColor;
            &.scheduler-week {
              font-weight: normal;
              border-bottom: $borderEdgeWidth solid $borderColor;
              font-size: 10px;
            }
          }
        }
      }
      thead {
        tr {
          &:last-child {
            th, td {
              &.scheduler-week {
                &:last-child {
                  border-right: $cellBorder;
                }
              }
            }
          }
          th, td {
            border-top: $cellBorder;
            border-bottom: $cellBorder;
            &.scheduler-resource-header-prospect-clientNumber {
              border-left: 4px solid $borderColor;
            }
            &.scheduler-header-firstweek {
              border-left-width: $borderEdgeWidth;
            }
            &.scheduler-header-lastweek {
              border-right-width: $borderEdgeWidth;
            }
          }
        }
      }
      /**
       * To change tbody tr and every child style
       * Apply only for th, td elemen not its contents
      */
      tbody {
        tr {
          &:last-child {
            th, td {
              border-bottom: $cellBorder;
              &:first-child {
                border-left: ($borderEdgeWidth + 2px) solid $borderColor;
              }
            }
          }
          th, td {
            font-weight: normal;
            &:last-child {
              &.scheduler-date-cell {
                border-right: $cellBorder;
              }
            }
            &.scheduler-date-cell-firstweek,
            &.scheduler-date-cell-lastweek {
              font-weight: bold;
            }
            &.scheduler-date-cell-firstweek {
              border-left-width: $borderEdgeWidth !important;
            }
            &.scheduler-date-cell-lastweek {
              border-right-width: $borderEdgeWidth !important;
            }
            &.scheduler-column:first-child {
              border-left: ($borderEdgeWidth + 2px) solid $borderColor;
            }
            &.scheduler-column-siteCode {
              background: rgb(255, 255, 0);
            }
            &.scheduler-column-prospect-clientNumber {
              color: $cyan;
            }
          }
        }
      }
      .scheduler-column-workType, 
      .scheduler-column-turnover, 
      .scheduler-column-invoiced, 
      .scheduler-column-remainsToInvoice,
      .scheduler-column-constructionSite {
        white-space: nowrap;
      }
      .scheduler-column-constructionSite {
        background: $yellow;
      }
      .scheduler-column-cdtTrx {
        color: $info;
      }
      .scheduler-resource-header, .scheduler-column {
        overflow: hidden;
      }
      .scheduler-weeks {
        border-bottom: $cellBorder;
        border-top: $cellBorder;
      }
      .scheduler-year, .scheduler-month {
        border: $cellBorder;
      }
      .scheduler-header-week-current {
        background: $app-secondary;
      }
    }
  }
}

@mixin scheduler-events {
  .app-scheduler {
    .table-container.table-responsive {
      position: relative
    }
    .scheduler-events {
      position: absolute;
      top: 0;
      left: 0;
      .scheduler-event-inner {
        display: flex;
        height: 100%;
        font-size: 12px;
        align-items: center;
        padding: 0 2px;
        .scheduler-event {
          height: 24px;
          overflow: hidden;
        }
      }
    }
    .scheduler-event-clickable {
      cursor: pointer;
    }
    .scheduler-date-cell[role=button] {
      cursor: default;
    }
    .scheduler-event-group-test {
      .scheduler-event-inner {
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        font-size: 17px;
      }
    }
  }

  .scheduler-event-bubble-html-group-payment md-dialog {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    text-align: center;
  }

  .app-scheduler .scheduler-events .scheduler-event-inner {
    justify-content: center;
    letter-spacing: -1px;
    font-size: 8px;
    > div {
      overflow: hidden;
    }
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00000047;
    z-index: 1040;
    md-progress-circular {
        position: relative;
        left: 50%;
        top: 40%;
    }
  }
}

@mixin _scheduler {
  @include scheduler-table;
  @include scheduler-events;
  @include scheduler-table-inset-border;
}

@include  _scheduler;