$boxShadow: inset -1px 0px 0px $borderColor;
$stickyBoxShadow: inset 1px 0px #555, inset -1px 0px #555, inset 0px 1px #555 !important;

@mixin scheduler-table-sticky-columns {
    .app-scheduler {
        table.scheduler-table.sticky-columns {
            // table-layout: fixed;
            // border-collapse: separate;
            // border-spacing: 0px;
            // border-bottom: $cellBorder;
            // .scheduler-year, 
            // .scheduler-month, 
            // .scheduler-week, 
            // .scheduler-column,
            // .scheduler-date-cell,
            // .scheduler-resource-header {
            //     border-right: none;
            //     border-bottom: none;
            // }
            // thead {
            //     tr {
            //         th, td {
            //             border-bottom: none;
            //             &:last-child {
            //                 &.scheduler-year, 
            //                 &.scheduler-month, 
            //                 &.scheduler-week {
            //                     border-right: $cellBorder;
            //                 }
            //             }
            //             &:first-child {
            //                 &.scheduler-resource-header {
            //                     border-left-width: $borderEdgeWidth;
            //                 }
            //             }
            //         }
            //         &:last-child {
            //             th, td {
            //                 border-bottom: 1px solid $borderColor;
            //             }
            //         }
            //     }
            // }
            // tbody {
            //     tr {
            //         td, th {
            //             &:first-child {
            //                 border-left-width: $borderEdgeWidth;
            //             }
            //         }
            //     }
            // }
            /**
             * Select resource column
            */
            .scheduler-column,
            .scheduler-resource-header,
            .scheduler-column-header-top-cell {
                border: none;
            }
            .scheduler-resource-header {
                // box-shadow: inset 1px 0px $borderColor, inset 0px 2px $borderColor, 0px 2px $borderColor, inset 0px -1px 0px $borderColor !important
                // Box shadow left and right only top and
                box-shadow: inset 1px 0px $borderColor !important;
                border-top: $cellBorder;
                border-bottom: $cellBorder;
            }
            .scheduler-column-header-top-cell {
                border-bottom: $cellBorder;
            }
            .scheduler-column {
                box-shadow: inset 1px 0px $borderColor, inset 0px 1px $borderColor !important;
                &.sticky-column {
                    box-shadow: $stickyBoxShadow;
                }
            }
            thead, tbody {
                tr {
                    th, td {
                        &.sticky-column {
                            box-shadow: $boxShadow;
                        }
                        &.scheduler-column-vertical-divider {
                            position: sticky;
                            width: 1px;
                            padding: 0;
                            background: $borderColor;
                        }
                    }
                }
            }
            thead {
                tr {
                    &:last-child {
                        th, td {
                            &:first-child {
                                box-shadow: inset -1px 0px 0px $borderColor, inset 1px 0px 0px $borderColor;
                                border-left-width: 1px;
                            }
                        }
                    }
                    th, td {
                        // Resource column sticky box shadow
                        &.scheduler-resource-header {
                            &.sticky-column {
                                box-shadow: inset 1px 0px $borderColor, inset -1px 0px $borderColor !important;
                            }
                        }
                        &.scheduler-year {
                            border: none;
                            padding: 0;
                            position: relative;
                            height: $cellHeight;
                            > div {
                                border: $cellBorder;
                                border-bottom: none;
                                position: absolute;
                                height: 24px;
                                top: 1px;
                                left: 0;
                                right: 0;
                                margin: 0 -1px;
                                line-height: $cellHeight - 2px;
                            }
                        }
                        &.scheduler-column-header-top-cell.scheduler-last-column {
                            box-shadow: inset -1px 0px $borderColor !important;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        &:first-child {
                            box-shadow: inset -1px 0px 0px $borderColor, inset 1px 0px 0px $borderColor;
                            border-left-width: 1px;
                        }
                    }
                    &:first-child {
                        th, td {
                            &.scheduler-column {
                                box-shadow: inset 1px 0px 0px $borderColor !important;
                                &.sticky-column {
                                    box-shadow: inset 1px 0px #555, inset -1px 0px #555 !important;
                                }
                            }
                        }
                    }
                    &:last-child {
                        th, td {
                            &.scheduler-column {
                                // box-shadow: inset 1px 1px $borderColor, inset 0px -2px $borderColor !important;
                                border-bottom: $cellBorder;
                            }
                        }
                    }
                }
            }
        }
    }
}