<div class="bg-white border change-date-panel">
    <div class="p-2 bg-app-primary text-uppercase" ng-if="data.pageTitle">
        {{ data.pageTitle }} — {{ data.additionalTitle }}
    </div>
    
    <div>
        <md-calendar ng-model="data.date"></md-calendar>
    </div>

    <div class="d-flex align-items-between">
        <md-button md-autofocus flex class="md-primary" ng-click="onSave()">
            Enregistrer
        </md-button>
        <md-button md-autofocus flex class="md-primary" ng-click="closePanel()">
            Annuler
        </md-button>
    </div>
</div>

<div class="loader" ng-if="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
