<div class="bg-white date-helper-panel">
    <div class="d-flex align-items-center pl-3 bg-app-primary page-title" ng-if="data.pageTitle">
        <div>{{ data.pageTitle }} — {{ data.additionalTitle }}</div>
    </div>
    <div>
        <md-calendar ng-model="data.date"></md-calendar>
    </div>
    <div class="d-flex align-items-between border-top">
        <md-button md-autofocus flex class="md-primary" ng-click="onSave()">
            Enregistrer
        </md-button>
        <md-button md-autofocus flex class="md-primary" ng-click="closePanel()">
            Annuler
        </md-button>
    </div>
    <div class="date-helper-loader" ng-if="loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

