<div class="user-helper-panel border bg-white ">
    <md-toolbar layout="row" class="bg-app-primary">
        <div class="md-toolbar-tools">
            <span>{{ data.pageTitle }}</span>
        </div>
    </md-toolbar>

    <md-content>
        <md-list class="md-dense md-default-theme" flex>
            <md-subheader>
                <md-input-container class="m-0 w-100">
                    <input aria-label="{{ data.inputSearchLabel }}" ng-model="data.user">
                </md-input-container>
            </md-subheader>
            
            <md-list-item class="md-2-line" ng-repeat="user in data.users" ng-click="onUserClicked(user)">
                <img ng-src="{{ user.avatar }}" class="md-avatar"/>
                <div class="md-list-item-text" layout="column">
                    <h4>{{ user.name }}</h4>
                    <p>{{ user.email }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>

    <div class="user-helper-loader" ng-if="loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>