{% trans_default_domain 'messages' %}

<div class="dropdown">
    <button class="btn btn-icon dropdown-toggle"
        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
        aria-expanded="false"
        data-boundary="window"
    >
        <span class="material-icons">more_vert</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="position: fixed;">
        
        {% if true %}
            <a class="dropdown-item" href="{{ path('client.show', {id: id}) }}">
                <i class="material-icons">visibility</i>
                {{ 'action.view'|trans }}
            </a>
        {% endif %}
        
        {% if true %}
            <a class="dropdown-item" href="{{ path('client.edit', {id: id}) }}">
                <i class="material-icons">edit</i>
                {{ 'action.edit'|trans }}
            </a>
        {% endif %}

        {% if true %}
            {% include 'client/_delete_form.html.twig' with {
                id: id,
                deleteRoute: 'client.delete'
            } %}
        {% endif %}
        
    </div>
</div>
