@mixin dropdown_customization {
    .dropdown-menu {
        .dropdown-item {
            .material-icons {
                font-size: 20px;
                margin-right: 8px;
                opacity: 0.9;
                position: relative;
                top: 3px;
            }
            span.dropdown-text {
                position: relative;
                top: -3px;
            }
        }
        .delete-label {
            position: relative;
            top: -3px;
        }
    }
}

@include dropdown_customization;