#client_type {
    display: flex;
    .form-check {
        width: 50%;
    }
}
.was-validated select.form-control:invalid, select.form-control.is-invalid {
    background-image: none;
}
.row.align-items-center {
    .can-login-field {
        .form-group {
            margin: 0;
        }
    }
}
#client_projectDescription_marketType {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .form-check {
        width: 50%;
    }
}
.market-type {
    .form-group .col-form-label {
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@mixin input_file {
    .vich-file {
        .custom-file {
            .custom-file-input {
                opacity: 1;
                margin-top: 4px;
            }
        }
    }
}

@include input_file;