#client_type {
    display: flex;
    .form-check {
        width: 50%;
    }
}

.was-validated select.form-control:invalid,
select.form-control.is-invalid {
    background-image: none;
}

.row.align-items-center {
    .can-login-field {
        .form-group {
            margin: 0;
        }
    }
}

#client_projectDescription_marketType {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .form-check {
        width: 50%;
    }
}

.market-type {
    .form-group .col-form-label {
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.project-address {
    text-decoration: underline;
}

.project-description-form {
    .form-error-message {
        white-space: nowrap !important;
    }
    .department-label,
    .project-description-label {
        color: red;
    }
    .form-control.project-address-fields,
    .select2-container--default .select2-selection--single {
        padding-right: 0;
        padding-left: 0;
        border: none;
        border-bottom: 2px dotted;
        height: 20px !important;
        &.department-field {
            border-color: red;
        }
    }
    .select2-container--default .select2-selection--single {
        padding: 0;
        .select2-selection__rendered {
            line-height: 20px;
            padding: 0;
        }
        .select2-selection__arrow {
            height: 10px;
        }
    }
}

label.required:after {
    content: "*"
}

.custom-control .custom-control-label:after {
    content: "";
}


/*
 * For each input, select, textarea in a datatable should have the same height
 * Td must be 30px height max so reduice its content height if there are overflow
 * Remove radius border for dt input
*/

#app_table {
    .app-dt-list table.table.table-striped {
        tbody {
            tr td {
                input,
                select {
                    max-height: 27px;
                    border-radius: 0;
                }
            }
        }
    }
}


/**
 * Only for total in project case
*/

#total {
    font-size: _rem(16);
}

@mixin form_flex {
    #client_projectDescription_marketType,
    #project_marketType,
    #project_caseType,
    #project_edit_marketType,
    #project_edit_caseType {
        display: flex;
        flex-wrap: wrap;
        .custom-control.custom-radio,
        .custom-control.custom-checkbox {
            width: 50%;
            margin: 0;
        }
    }
}

@mixin client_page {
    .client-page {
        .client-contact-form {
            #client_contacts {
                margin: 0;
            }
            .card-body.client-contact-card-body {
                padding: 0;
                fieldset.form-group {
                    margin-bottom: 0;
                }
                .container-fluid {
                    // all variables here are from boostrap
                    padding: $spacer;
                    border-bottom: 1px solid $border-color;
                }
            }
        }
    }
}

@mixin input_file {
    .vich-file {
        .custom-file {
            .custom-file-input {
                opacity: 1;
                margin-top: 4px;
            }
        }
    }
}

@mixin project_case_form {
    /*
     * 1 = 5%
     *  2 = 10
     * ....
     * - https://suivi.espai-web.com/tache/4905
     * - PJ page 7
     * rules:
     *  - < 30% => red (Rouge)
     *  - > 30% - < 50% => orange(Orange)
     *  - > 50% - < 70% => yellow(Jaune)
     *  - > 70% => green
     */
    $levels: ( 0: $red, 1: $red, 2: $red, 3: $red, 4: $red, 5: $red, 6: $orange, 7: $orange, 8: $orange, 9: $orange, 10: $orange, 11: $yellow, 12: $yellow, 13: $yellow, 14: $green, 15: $green, 16: $green, 17: $green, 18: $green, 19: $green, 20: $green, );
    @each $name,
    $value in $levels {
        .completion-#{$name} {
            background-color: $value;
            color: color-yiq($value);
        }
        .exchange-completion-#{$name} {
            .time-label {
                background: $value;
                color: color-yiq($value);
            }
        }
    }
    .business-charge-change {
        width: 100%;
        height: 100%;
    }
    .economist-change {
        width: 100%;
        height: 100%;
    }
    .project-case-field {
        position: relative;
        .completion-loader,
        .pc-deposit-loader,
        .architect-loader,
        .comment-loader {
            font-size: 12px;
            width: 18px;
            height: 18px;
            position: absolute;
            color: $primary;
            top: 5px;
        }
        .completion-loader {
            left: 5px;
        }
        .pc-deposit-loader,
        .architect-loader {
            left: 15px;
        }
        .comment-loader {
            top: 30%;
            left: 45%;
        }
        .completion-input {
            border-radius: 0 !important;
            &:focus {
                outline: 2px solid rgb(13 110 253 / 25%);
            }
        }
    }
}

@mixin _form {
    @include client_page;
    @include input_file;
    @include project_case_form;
    @include form_flex;
}

@include _form;