.list-group {
    @each $name, $value in $theme-colors {
        &.list-group-#{$name} {
            .list-group-item {
                padding: _rem(8) _rem(8);
                &.active {
                    background: $value;
                    color: color-yiq($value);
                }
                .img-circle {
                    margin-right: _rem(8);
                    width: 24px;
                    height: 24px;
                    object-fit: cover;
                }
            }
        }
    }
}