body {
    .nav-sidebar .nav-item > .nav-link {
        height: map-get($heights, sidebarNavlink);
        display: flex;
        align-items: center;
        p > .right {
            top: (map-get($heights, sidebarNavlink) - map-get($heights, badge)) / 2;
        }
    }
    // add spacing to .nav-icon when sidebar is not collapsed
    &:not(.sidebar-collapse) {
        .nav-sidebar .nav-item > .nav-link {
            .nav-icon {
                margin-right: map-get($appSpacings, sidebarNavlinkIconMr);
                margin-left: map-get($appSpacings, sidebarNavlinkIconMl);
            }
        }
    }
}
