@mixin table_app {
    .table-app-sm {
        tbody {
            tr {
                th, td {
                    padding: 8px;
                    border-top: 1px solid #f4f4f4;
                    border-bottom: none;
                }
            }
        }
    }
}
@mixin client_show_page {
    .client-show-page {
        table.table {
            &.table-striped {
                tbody tr {
                    th, td {
                        border-color: $border-color;
                    }
                }
            }
        }
    }
}
@mixin _table {
    @include table_app;
    @include client_show_page;
}

@include _table;