{% trans_default_domain 'contact' %}

{% extends 'client/layout.html.twig' %}

{% block title %}{{ 'title.edit_contact'|trans }} | {{ parent() }}{% endblock %}

{% block body_attr %}class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse sidebar-expandable-on-hover" style="height: auto;"{% endblock %}

{# {% form_theme form.contacts 'shared/form/client_contact_form.html.twig' %} #}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'title.edit_contact'|trans,
        links: [
            {label: 'title.home'|trans({}, 'messages'), routeName: 'home'},
            {label: 'title.client_manger'|trans({}, 'client'), routeName: 'client.list'},
            {label: 'title.edit_contact'|trans },
        ],
    } %}{% endembed %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {{ include('contact/_form.html.twig') }}
    </div>
{% endblock %}
