{% trans_default_domain 'projects' %}

{# width of each block #}
{% set TD_WIDTH = space_value((COL_COUNT / 3), COL_COUNT) %}

{% set assistantInChargeOfTheFile = resolve([project, 'recordAssistant'], null) %}
{% set ocbsDriver = resolve([project, 'ocbsDriver'], null) %}
{% set tceDriver = resolve([project, 'tceDriver'], null) %}
{% set signatureValueClass = 'align-start text-sm' %}

<table class="table-borderless">
    <tbody>
        <tr>
            <td width="{{ TD_WIDTH }}%;" class="border-right">
                {% include 'project/pdf/shared/contract_review_signatures.html.twig' with {
                    title: 'pdf.label.assistant_in_charge_of_the_file'|trans,
                    value: '',
                    signatureValue: assistantInChargeOfTheFile,
                    subtitle: ' ',
                    options: {
                        titleClass: 'text-underline text-uppercase text-calibri',
                        signatureValueClass: signatureValueClass,
                        signatures: false,
                    }
                } %}
            </td>
            <td width="{{ TD_WIDTH }}%;" class="border-right">
                {% include 'project/pdf/shared/contract_review_signatures.html.twig' with {
                    title: 'pdf.label.driver_ocbs'|trans,
                    value: '',
                    signatureValue: ocbsDriver,
                    subtitle: ' ',
                    options: {
                        titleClass: 'text-uppercase text-calibri',
                        signatureValueClass: signatureValueClass,
                        signatures: false,
                    }
                } %}
            </td>
            <td width="{{ TD_WIDTH }}%;" class="border-right">
                {% include 'project/pdf/shared/contract_review_signatures.html.twig' with {
                    title: 'pdf.label.driver_tce'|trans,
                    value: '',
                    signatureValue: tceDriver,
                    subtitle: ' ',
                    options: {
                        titleClass: 'text-uppercase text-calibri',
                        signatureValueClass: signatureValueClass,
                        signatures: false,
                    }
                } %}
            </td>
        </tr>
    </tbody>
</table>