<div class="row">
    <div class="col-sm-12">
        {{ form_row(form.projectDescription) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.area) }}
    </div>
    <div class="col-sm-12 market-type">
        {{ form_row(form.marketType) }}
    </div>
</div>