@mixin dialog {
    md-dialog.new-load-plan-dialog {
        width: 600px;
    }
    .md-datepicker-input-container {
        width: 80% !important;
    }
    .hide-icons {
        .md-datepicker-input-container {
            width: 100% !important;
        }
    }
    md-input-container {
        label {
            font-weight: normal !important;
            color: rgba(0, 0, 0, 0.34);
            margin-bottom: 0 !important;
        }
        .project-loader {
            position: absolute;
            right: 0px;
            top: 22px;
        }
    }
    .md-icon-button + .md-datepicker-input-container {
        margin: 0;
    }
    md-input-container:not(.md-input-has-value):not(.md-input-has-placeholder) input:not(:focus) {
        color: rgba(0,0,0,0.87) !important;
    }
    .project-autocomplete-container {
        margin-bottom: -32px;
    }

    /**
     * Those style are for the load plan input search 
     * Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class
    */
    .selectdemoSelectHeader .demo-header-searchbox {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        padding: 0; 
    }
    .selectdemoSelectHeader .demo-select-header {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
        padding-left: 16px;
        height: 48px;
        cursor: pointer;
        display: flex;
        width: auto; 
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 10;
    }
    .selectdemoSelectHeader md-content._md {
        max-height: 240px; 
    }
    .selectdemoSelectHeader md-input-container {
        min-width: 112px; 
    }
}

@include dialog;