@mixin dialog {
    md-dialog.new-load-plan-dialog {
        width: 600px;
        md-dialog-content {
            overflow: hidden;
        }
    }
    .md-datepicker-input-container {
        width: 80% !important;
    }
    md-input-container {
        label {
            font-weight: normal !important;
            color: rgba(0, 0, 0, 0.34);
        }
    }
    .md-icon-button + .md-datepicker-input-container {
        margin: 0;
    }
}

@include dialog;