@mixin md_autocomplete {
    .item-title .media-object, .media-left .media-object {
        width: 30px !important;
        height: 30px !important;
        object-fit: cover;
        border-radius: 50%;
    }
    .panel-menu {
        width: 200px;
    }
    .realization-date-menu {
        width: 310px;
    }
}

@include md_autocomplete;