{% extends 'base.html.twig' %}

{% block body_attr %}
    class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse sidebar-expandable-on-hover"
    style="height: auto;"
    ng-app="projectApp"
    ng-controller="ProjectController"
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% include 'project/ng/templates/index.html.twig' %}
        <div class="container-fluid">
            <app-project-information></app-project-information>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {# TYPE DE DOSSIER #}
        var CASE_TYPES = [];
        {% for type in constant('\\App\\Entity\\Constants\\Project::CASE_TYPES') %}
            CASE_TYPES.push({
                label: '{{ type|trans({}, "project") }}',
                value: '{{ type }}'
            })
        {% endfor %}
    </script>
    {{ encore_entry_script_tags('ng_project') }}
{% endblock %}