.selectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.selectHeader .select-header-search {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    background: #fff;
    display: flex;
    align-items: center;
    width: auto;
}

.selectHeader md-content._md {
    max-height: 240px;
}

md-select:focus {
    .md-select-value {
        border: none !important;
    }
}

md-select-menu._md.md-overflow {
    max-width: 250px;
}

.md-select-value {
    position: relative;
    top: -5px;
    border: none;
    &:focus {
        border: none;
    }
}

md-select {
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    padding: $input-padding-y $input-padding-x;
    height: $input-height;
    &[disabled="disabled"] {
        background: $input-disabled-bg;
        opacity: 1;
    }
    .md-select-value {
        border-bottom: none;
    }
}

.contact-checkbox-container {
    md-checkbox.md-auto-horizontal-margin {
        min-height: auto;
        .md-container {
            margin-top: 11px;
        }
        .md-label {
            margin-top: 0;
        }
    }
}

.ng-project-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00000047;
    z-index: 1040;
    md-progress-circular {
        position: relative;
        left: 50%;
        top: 40%;
    }
}

#contact-form-dialog {
    width: 600px;
}

.exchange-card {
    height: 75vh;
    overflow: auto;
    position: relative;
    .card {
        box-shadow: none;
    }
    .card-header.sticky-top {
        position: sticky;
    }
    .card-body {
        min-height: unset;
        box-shadow: none;
        .timeline {
            .time-label {
                width: 90px;
                position: absolute;
                display: inline-block;
            }
            .timeline-item {
                margin-left: 100px;
                .timeline-avatar {
                    object-fit: cover;
                }
                .media-body {
                    h5 {
                        font-size: _rem(14);
                    }
                }
            }
        }
        .timeline>div>.timeline-item {
            box-shadow: none;
        }
        .percentage-container {
            position: absolute;
            top: 8px;
            right: 10px;
        }
        .delete-button-container {
            position: absolute;
            bottom: 8px;
            right: 10px;
        }
    }
}

.md-select-menu-container {
    z-index: 1030 !important;
}