<md-dialog aria-label="Event Detail Dialog" class="new-load-plan-dialog p-0" style="opacity: 1; min-width: 300px;">
    <md-dialog-content class="demo-dialog-content">
        <div layout="column" flex-order="1" flex-order-gt-sm="1">
            <md-calendar ng-model="data.realizationDate"></md-calendar>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button md-autofocus flex class="md-primary" ng-click="saveRealizationDate()">
            Enregistrer
        </md-button>
        <md-button md-autofocus flex class="md-primary" ng-click="closePanel()">
            Annuler
        </md-button>
    </md-dialog-actions>
</md-dialog>