<div class="bg-white border realization-date-menu">
    <div>
        <md-calendar ng-model="data.realizationDate"></md-calendar>
    </div>

    <div class="d-flex align-items-between">
        <md-button md-autofocus flex class="md-primary" ng-click="saveRealizationDate()">
            Enregistrer
        </md-button>
        <md-button md-autofocus flex class="md-primary" ng-click="closePanel()">
            Annuler
        </md-button>
    </div>
</div>

<div class="loader" ng-if="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
