{% trans_default_domain 'project' %}

{% extends 'project/layout.html.twig' %}

{% block title %}{{ 'title.edit_project'|trans }} | {{ parent() }}{% endblock %}

{% block body_attr %}class="sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse" style="height: auto;"{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'title.edit_project'|trans,
        links: [
            {label: 'title.home'|trans({}, 'messages'), routeName: 'home'},
            {label: 'title.project_manager'|trans, routeName: 'project.list'},
            {label: 'title.edit_project'|trans},
        ],
    } %}{% endembed %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {{ include('project/_form.html.twig', {'button_label': 'action.update'|trans({}, 'messages') }) }}
    </div>
{% endblock %}
