{% trans_default_domain 'project' %}

{% extends 'project/layout.html.twig' %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'title.new_client'|trans,
        links: [
            {label: 'title.home'|trans({}, 'messages'), routeName: 'home'},
            {label: 'title.client_manger'|trans, routeName: 'client.list'},
            {label: 'title.new_client'|trans},
        ],
    } %}{% endembed %}
{% endblock %}

{% block content %}
    <h1>Create new Project</h1>

    {{ include('project/_form.html.twig') }}
{% endblock %}
