{% trans_default_domain 'project' %}

{% extends 'project/layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_project_new') }}
{% endblock %}

{% block content_header %}
    {% embed 'layout/content/_content_header.html.twig' with {
        title: 'title.new_project'|trans,
        links: [
            {label: 'title.home'|trans({}, 'messages'), routeName: 'home'},
            {label: 'title.project_list'|trans, routeName: 'project.list'},
            {label: 'title.new_project'|trans},
        ],
    } %}{% endembed %}
{% endblock %}

{% block content %}
    {{ include('project/_form.html.twig') }}

    <a href="{{ path('project_index') }}">back to list</a>
{% endblock %}
