{% if context is defined %}
    {% set loadPlan = context %}
{% elseif context is not defined and loadPlan is defined %}
    {% set loadPlan = loadPlan %}
{% else %}
    {% set loadPlan = null %}
{% endif %}

<div class="dropdown">
    <button class="btn btn-icon dropdown-toggle"
        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
        aria-expanded="false"
        data-boundary="window"
    >
        <span class="material-icons">more_vert</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="position: fixed;">
        
        {% if is_granted(constant('\\App\\Security\\Voter\\Attributes::EDIT'), loadPlan) %}    
            <button 
                class="dropdown-item btn btn-link edit-load-plan" 
                data-action="edit" 
                data-id="{{ id }}" 
                data-project-id="{{ resolve([context, 'project', 'id'], null) }}"
            >
                <i class="material-icons">edit</i>
                <span class="dropdown-text">{{ 'action.edit'|trans }}</span>
            </button>
        {% endif %}

        {% if is_granted(constant('\\App\\Security\\Voter\\Attributes::DELETE'), loadPlan) %}
            {% include 'load_plan/_delete_form.html.twig' with {
                deleteRoute: 'load_plan.delete',
                id: id,
            } %}
        {% endif %}
    </div>
</div>