{% from app_macro import dd_link_elem, dd_btn_elem %}

<div class="dropdown">
  <button class="btn btn-icon dropdown-toggle"
    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
    {# data-boundary="scrollParent" #}
    aria-expanded="false"
    data-boundary="window"
    {# data-boundary="viewport" #}
    {# data-offset="10,20" #}
    {# data-reference="window" #}
    {# data-popperConfig="{positionFixed: true}" #}
    {# data-display="static" #}
>
    <span class="material-icons">more_vert</span>
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="position: fixed;">
    {{ dd_link_elem('user.edit', {id: id}, {label: 'action.edit', domain: 'messages', icon: 'edit'}) }}
    {{ dd_btn_elem('action.reset_password', {
        domain: 'messages',
        icon: 'lock',
        attr: {
          'data-action': 'reset-password',
          'data-id': id,
        }
    }) }}
    {% include "user/_delete_form.html.twig" with {
      id: id,
      deleteRoute: 'user.delete'
    } %}
  </div>
</div>
