{% trans_default_domain 'users' %}

{% extends 'user/layout.html.twig' %}

{% block title %}{{ parent() }} | {{ 'title.edit_user'|trans }}{% endblock %}

{% block content_header %}
    {% include template_content_header with {
        title: 'title.edit_user'|trans,
        links: [
            {label: 'title.home'|trans, routeName: 'home'},
            {label: 'title.user_list'|trans, routeName: 'user.index'},
            {label: 'title.edit_user'|trans },
        ],
    } %}
{% endblock %}

{% block content %}
    <div class="container-fl">
        {{ include('user/_edit_form.html.twig', {'button_label': 'action.update'|trans([], 'messages') }) }}
    </div>
{% endblock %}
