{% trans_default_domain 'users' %}

{% extends 'user/layout.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
    <h3>{{ 'title.new_user'|trans }}</h3>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user.index') }}">back to list</a>
{% endblock %}
