{% trans_default_domain 'users' %}

{% extends 'user/layout.html.twig' %}

{% block title %}{{ parent() }} | {{ 'title.show_profile'|trans }}{% endblock %}

{% block content_header %}
    {% include template_content_header with {
        title: 'title.show_profile'|trans,
        links: [
            {label: 'title.home'|trans, routeName: 'home'},
            {label: 'title.user_list'|trans, routeName: 'user.index'},
            {label: 'title.show_profile'|trans}
        ]
    } %}
{% endblock %}

{% block content %}
    {% embed 'user/_profile_user.html.twig' with {user: user} %}
        {% block footer %}
            <div class="row">
                <div class="col-sm-6">
                    <a href="{{ path('user.edit', {id: user.id}) }}">
                        <i class="material-icons">edit</i>
                        {{ 'action.edit_profil'|trans({}, 'messages') }}
                    </a>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
