.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00000047;
    z-index: 1040;
    md-progress-circular {
        position: relative;
        left: 50%;
        top: 40%;
    }
}